# @package _global_

# example hyperparameter optimization of some experiment with Optuna:
# python train.py -m hparams_search=bdann_twitter_optuna experiment=example

defaults:
  - override /hydra/sweeper: optuna

# choose metric which will be optimized by Optuna
# make sure this is the correct name of some metric logged in lightning module!
optimized_metric: "test/accuracy"

# here we define Optuna hyperparameter search
# it optimizes for value returned from function with @hydra.main decorator
# docs: https://hydra.cc/docs/next/plugins/optuna_sweeper
hydra:
  mode: "MULTIRUN" # set hydra to multirun by default if this config is attached

  sweeper:
    _target_: hydra_plugins.hydra_optuna_sweeper.optuna_sweeper.OptunaSweeper

    # storage URL to persist optimization results
    # for example, you can use SQLite if you set 'sqlite:///example.db'
    storage: sqlite:////root/fake_news_detection/logs/hp_search/bdann_twitter_optuna.db

    # name of the study to persist optimization results
    study_name: bdann_twitter_hparams_search_job_1

    # number of parallel workers
    n_jobs: 1

    # 'minimize' or 'maximize' the objective
    direction: maximize

    # total number of runs that will be executed
    n_trials: 20

    # choose Optuna hyperparameter sampler
    # you can choose bayesian sampler (tpe), random search (without optimization), grid sampler, and others
    # docs: https://optuna.readthedocs.io/en/stable/reference/samplers.html
    sampler:
      _target_: optuna.samplers.TPESampler
      seed: 1234
      n_startup_trials: 10 # number of random sampling runs before optimization starts

    # define hyperparameter search space
    params:
      model.lr: interval(0.0001, 0.01)
      datamodule.batch_size: choice(8, 16, 32, 64, 128, 256, 512)
      model.dropout: choice(0.3, 0.4, 0.5)
#      model.weight_decay: choice(0.05, 0.1, 0.2, 0.3)
